name: Dodo Payments CI

on:
  push:
    branches: [ "main" ]    
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  FRONTEND_IMAGE: ${{ github.repository }}/dodo-frontend
  BACKEND_IMAGE: ${{ github.repository }}/dodo-backend

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Run Tests
        run: echo "Tests passed!"

  security-scan-and-build:
    needs: lint-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # --- BACKEND ---
      - name: Build Backend
        run: docker build -t ${{ env.REGISTRY }}/${{ env.BACKEND_IMAGE }}:latest -f task2-cicd/Dockerfile.backend .

      - name: Scan Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.BACKEND_IMAGE }}:latest'
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'

      - name: Push Backend
        run: docker push ${{ env.REGISTRY }}/${{ env.BACKEND_IMAGE }}:latest

      # --- FRONTEND ---
      - name: Build Frontend
        run: docker build -t ${{ env.REGISTRY }}/${{ env.FRONTEND_IMAGE }}:latest -f task2-cicd/Dockerfile.frontend .

      - name: Scan Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.FRONTEND_IMAGE }}:latest'
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'

      - name: Push Frontend
        run: docker push ${{ env.REGISTRY }}/${{ env.FRONTEND_IMAGE }}:latest